:root {
      /* Tipografías */
  --font-title: 'Poppins', system-ui, sans-serif;
  --font-text: 'Inter', system-ui, sans-serif;
  /* Colores */
  --bg: #ffffff;
  --bg-secondary: #f5f5f5;
  --text: #1a1a1a;
  --text-muted: #555;
  --primary: #2563eb;
  --border: #e5e7eb;
}

body.dark {
  --bg: #0f172a;
  --bg-secondary: #1e293b;
  --text: #f8fafc;
  --text-muted: #cbd5e1;
  --primary: #38bdf8;
  --border: #334155;
}
